<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<header>
    <nav class = "nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/works">WORKS</a></li>
        </ul>
      </nav>
</header>
<body>
    <h1 id="pres">WHAT WE DO</h1>
<div id="theteam">
    <img class="images" src="/images/Dae4.gif" alt="gif">
    <img class="images" src="/images/waving.gif" alt="gif">
    <img class="images" src="/images/wedding.gif" alt="gif">
</div>
    
</body>
</html>